<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGGNFA9pmkTZ1Fd_JUes5jLodk6ZxIPuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>895560396348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ukm.innogro</string>
	<key>PROJECT_ID</key>
	<string>sekodlah</string>
	<key>STORAGE_BUCKET</key>
	<string>sekodlah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895560396348:ios:4d4c2dd1d97cb7a0f65d39</string>
</dict>
</plist>
